<div class="box">

  <%= simple_form_for(@post) do |f| %>
    <%= f.error_notification %> 

    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src="https://bulma.io/images/placeholders/128x128.png">
        </p>
      </figure>
      <div class="media-content">
        <div class="field">
          <div class="control">                  
              <%= f.text_field :title, class: "input", placeholder: 'Enter Title' %>       
          </div>
        </div>      
        <div class="field">
           <div class="control">    
              <%= f.text_area :body, class: "textarea", placeholder: 'Enter Post'%> 
          </div>
        </div>
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <%= f.button :submit, class: "button is-info" %>
            </div>          
          </div>
        </nav>
      </div>
    </article>

  <% end %>
</div>  

